body {
  font-family: 'Quicksand', sans-serif;
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 30px;
    padding-left: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #2f2f2f;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #2f2f2f;
}

.list-social-icons a:hover {
  color: #92B558;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #92B558;
}

#sideNav {
  border-width: 0;
  background: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 200;
  text-transform: uppercase;
  color: #2f2f2f;
}

@media (min-width: 992px) {
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #92B558 !important;
}

.text-primary {
  color: #92B558 !important;
}

button:focus {
  outline: none;
}

a {
  color: #92B558;
}

a:hover, a:focus, a:active {
  color: #69853b;
}

.progress {
  height: .3rem;
  width: 70%;
}

/**
 * pro Bars
 */
.pro-title {
  font-size: 0.85em;
  line-height: 1.2em;
  display: block;
  margin-bottom: 0.7em;
}

/* pro Bar: Chart */
.pro-chart {
  text-align: center;
  display: inline-block;
}

.pro-chart .pro-title {
  margin-top: 10px;
}

.pro-chart .pro-bar {
  height: 93px;
  width: 93px;
  margin: 0 auto;
  position: relative;
}

.pro-chart .pro-bar svg {
  height: 100%;
  display: block;
}

/* pro Bar: Line */
.pro-line {
  margin-bottom: 20px;
}

.pro-line .pro-title {
  padding-right: 3.8em;
}

.pro-line .pro-bar {
  width: 100%;
  height: 5px;
}

.pro-line svg {
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 5px;
}

/* pro Bar: Bullet */
.pro-bullets {
  margin-bottom: 1.375em;
}

.pro-bullets .pro-bar {
  white-space: nowrap;
  line-height: 0.938em;
}

.pro-bullets .bullet {
  width: 0.938em;
  height: 0.938em;
  border-radius: 50%;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  vertical-align: middle;
  border-color: #2f2f2f;
}

.pro-bullets .fill {
  background-color: #2f2f2f;
}

.pro-bullets .pro-text {
  font-size: 0.8em;
  line-height: 0.938em;
}

.crt-desktop .pro-bullets.crt-animate .bullet {
  opacity: 0;
}

.crt-desktop .pro-bullets.crt-animated .bullet {
  animation: FadeIn 250ms linear;
  animation-fill-mode: both;
}

.crt-desktop .pro-bullets.crt-animated .bullet:nth-child(1) {
  animation-delay: 0ms;
}

.crt-desktop .pro-bullets.crt-animated .bullet:nth-child(2) {
  animation-delay: 50ms;
}

.crt-desktop .pro-bullets.crt-animated .bullet:nth-child(3) {
  animation-delay: 100ms;
}

.crt-desktop .pro-bullets.crt-animated .bullet:nth-child(4) {
  animation-delay: 145ms;
}

.crt-desktop .pro-bullets.crt-animated .bullet:nth-child(5) {
  animation-delay: 175ms;
}

.crt-desktop .pro-bullets.crt-animated .bullet:nth-child(6) {
  animation-delay: 210ms;
}

.crt-desktop .pro-bullets.crt-animated .bullet:nth-child(7) {
  animation-delay: 240ms;
}

.crt-desktop .pro-bullets.crt-animated .bullet:nth-child(8) {
  animation-delay: 265ms;
}

.crt-desktop .pro-bullets.crt-animated .bullet:nth-child(9) {
  animation-delay: 290ms;
}

.crt-desktop .pro-bullets.crt-animated .bullet:nth-child(10) {
  animation-delay: 310ms;
}

@media (min-width: 748px) {
  .pro-bullets .bullet {
    margin-right: 0.31em;
  }
}

.timeline {
  border-left: 2px solid #e0e0e0;
  padding: 15px 0;
}

.timeline-item {
  position: relative;
  padding: 15px 20px 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-left: 2px solid #92B558;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.timeline-item:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 20px;
  left: -29px;
  border: 2px solid #92B558;
  z-index: 2;
}

.timeline-item:after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #92B558;
  border-radius: 10px;
  width: 29px;
  height: 2px;
  top: 25px;
  left: -29px;
  z-index: 1;
}

.timeline-item .item-title {
  display: block;
  margin: 0;
  font-size: 20px;
  line-height: 1.2em;
}

.timeline-item .item-period {
  display: inline-block;
  font-size: 12px;
  line-height: 1.2em;
  color: #92B558;
  margin-bottom: 8px;
}

.timeline-item .item-small {
  display: inline-block;
  font-size: 15px;
  line-height: 1.2em;
  color: #9e9e9e;
  margin-left: 5px;
  margin-bottom: 8px;
  padding-left: 8px;
  border-left: 1px solid #e0e0e0;
}

section.profile-section {
  padding-top: 2rem !important;
  padding-bottom: 5rem !important;
  border-bottom: 1px solid #dee2e6;
}

/* Skills */
.skills-info {
  margin-bottom: 30px;
}

.skills-info p {
  margin-bottom: .1rem;
}

.skills-info h4 {
  font-size: 0.8em;
  line-height: 1.1em;
  position: relative;
  margin: 0 0 5px;
}

.skill-percentage {
  background-color: #2f2f2f;
  height: 100%;
}

.js .pt-page:not(.pt-page-current) .skill-percentage {
  width: 0;
}

/*Skill 1*/
.skill-percentage.skill-1 {
  width: 88%;
}

/*Skill 2*/
.skill-percentage.skill-2 {
  width: 91%;
}

/*Skill 3*/
.skill-percentage.skill-3 {
  width: 60%;
}

/*Skill 4*/
.skill-percentage.skill-4 {
  width: 95%;
}

/*Skill 5*/
.skill-percentage.skill-5 {
  width: 97%;
}

/*Skill 6*/
.skill-percentage.skill-6 {
  width: 92%;
}

/*Skill 7*/
.skill-percentage.skill-7 {
  width: 98%;
}

/*Skill 8*/
.skill-percentage.skill-8 {
  width: 77%;
}

.profile-photo {
  padding: 20px 15px 20px 15px;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}

.profile-photo img {
  width: 100%;
  max-width: 195px;
  height: 195px;
  border: solid;
  border-color: transparent;
  border-radius: 50%;
}

.profile-photo .photo-hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-out,visibility .2s ease-out;
}

.profile-photo:hover .photo-hover {
  opacity: 1;
  visibility: visible;
}

.profile-items {
  margin-bottom: 18px;
}

.profile-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.profile-list li {
  margin-bottom: 20px;
}

.profile-list .title {
  display: block;
  width: 120px;
  float: left;
  color: #2f2f2f;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.profile-list .cont {
  display: block;
  margin-left: 125px;
  font-size: .75rem;
  font-weight: 500;
  line-height: 20px;
  color: #9da0a7;
}

.profile-list .cont a {
  color: inherit;
}

.profile-list .cont.profile-vacation {
  font-size: 14px;
}

@media (max-width: 767px) {
  .profile-info {
    text-align: center;
  }
  .profile-list .title, .profile-list .cont {
    width: 100%;
    float: none;
    line-height: 1.2;
  }
  .profile-list .title {
    margin-bottom: 3px;
  }
  .profile-list .cont {
    margin-left: 0;
    margin-bottom: 15px;
  }
}

.card {
  width: 70%;
  margin: 1rem auto;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.8);
}

.fchica {
  font-size: 18px;
}

.fmediana {
  font-size: 1.5rem;
}

.fgrande {
  font-size: 3rem;
}

.mt-6 {
  margin-top: 6rem;
}

.navbar-toggler-icon {
  background-color: #2f2f2f;
}

.parallax-div-0 {
  background: url("../img/intro-bg1.jpeg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: .4s ease-in-out;
}

.navbar-toggler {
  cursor: pointer;
  position: relative;
  width: 2.5rem;
  height: 2rem;
  padding: .5rem .75rem;
  font-size: 1.25rem;
  line-height: 1rem;
  border-radius: .25rem;
}

.navbar-toggler span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: #2f2f2f;
  border-radius: 3px;
  opacity: 1;
  left: 25%;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.navbar-toggler span:nth-child(1) {
  top: 34.5%;
}

.navbar-toggler span:nth-child(2), .navbar-toggler span:nth-child(3) {
  top: 50%;
}

.navbar-toggler span:nth-child(4) {
  top: 65.5%;
}

.navbar-toggler.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar-toggler.open span:nth-child(2) {
  transform: rotate(45deg);
}

.navbar-toggler.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.navbar-toggler.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar-shadow {
  -webkit-box-shadow: .7px .7px .7px #2f2f2f;
  -moz-box-shadow: .7px .7px .7px #2f2f2f;
  box-shadow: .7px .7px .7px #2f2f2f;
  transition: all .08s;
  z-index: 999;
}

@media (min-width: 994px) {
  .profile-photo {
    margin-top: 60px;
  }
  .card-content {
    margin-top: 100px;
  }
  .fmediana {
    font-size: 1.8rem;
  }
}

@media (max-width: 782px) {
  h1 {
    font-size: 3rem;
    line-height: 5.5rem;
  }
  .card {
    width: 95%;
    height: 100%;
  }
}
